<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApalPEOJB_IKZzO73uoj0WfN5Q_wsnXow</string>
	<key>GCM_SENDER_ID</key>
	<string>491061260039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-fe146</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-fe146.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491061260039:ios:06cfdadfcedfb0b9b1dfa2</string>
	<key>DATABASE_URL</key>
	<string>https://authtutorial-fe146-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>